body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
}

header {
    background-color: #003366; /* Blue */
    color: #ffcc00; /* Yellow */
    text-align: center;
    padding: 20px;
}

.login-container, .register-container, .dashboard-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f0f0f0;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #003366; /* Blue */
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #00509e; /* Lighter Blue */
}

p {
    text-align: center;
}

a {
    color: #003366;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
